@charset "utf-8";
/* CSS Document */
/*公用*/
.comWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{ float:left;}
.rightArea{ float: right;}
.hide{ display:none;}
.show{ display:block;}
/*topBar*/
.topBar{height:31px; background-color:#F7F7F7; line-height:31px;}
.collection{ background:url(../images/icon/collection.png) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar a:hover{ color:red;}
/*logoBar*/
.logoBar{ height:85px; background-color:#1D7AD9;}
.logo{ padding-left:41px; padding-top:13px;}
.sercah_box{ width:430px; padding-top:23px; padding-left:185px;}
.search_text{ width:350px; height:35px; line-height:35px\9;/* css hack \9 代表所有的IE浏览器*/ padding:0 5px; background-color:#FFF;}
.search_btn{ width:70px; height:35px; font-size:14px; font-family:"Microsoft YaHei","微软雅黑"; background-color:#FF8C00; 
color:#FFF;}
/*购物车*/
.shopCar{ width:145px; height:35px; background-color:#FF8C00; margin-top:23px; font:14px/35px "Microsoft YaHei","微软雅黑"; color:#FFF; margin-right:59px;}
.shopText{ /*font-size:14px; font-family:"Microsoft YaHei","微软雅黑"; line-height:35px;*/ height:100%; width:87px; border-right:#E27A00 solid 1px; background:url(../images/icon/shaoIcon.png) 10px center no-repeat; text-indent:40px; }
.shopNum{ width:27px; height:35px; background:url(../images/icon/sj.png) 33px center no-repeat; text-align:right; border-left:#FF9C01 solid 1px; padding-right:29px;}
/*导航*/
.navBox{ height:35px; background-color:#1369C0; color:#FFF;}
.shopClass{ width:190px; position:relative;}
.shopClass h3{ text-align:center;line-height:35px;}
.shopClass i{ width:11px; height:7px; overflow:hidden; background:url(../images/icon/down.png) left center no-repeat; display:inline-block; margin-left:11px;}
.nav .shopClass h3{ font-family:"Microsoft YaHei","微软雅黑";}
.nav{ line-height:35px;}
.nav li{float:left;}
.nav a{height:35px; display:inline-block; padding:0 35px; color:#FFF;}
.nav .active{ background-color:#4593FD;}
/*商品弹出列表*/
.shopClass_show{ background-color:#4593FD; position:absolute; left:0; top:35px; width: 100%;}
.shopClass_item{ padding:14px 10px; border-bottom:#3487F2 solid 1px; border-top:#5AA1FE solid 1px;}
.shopClass_item dt{ height:20px; background:url(../images/icon/shop_sj.png) right center no-repeat;}
.shopClass_item .b{/* font-family:"Microsoft YaHei","微软雅黑"; font-size:14px; font-weight:bold;*/ font:14px/1 "Microsoft YaHei","微软雅黑";}
.shopClass_item a{ color:#FFF;}
.shopClass_item a:hover{ text-decoration:underline;}
.shopClass_item .aLink{ width:48px; height:20px; background:url(../images/icon/aLink.png) left center no-repeat; display:inline-block; line-height:20px; text-decoration:underline;}
/*shopClass_item active 状态*/
.shopClass_active{ background-color:#FFF; border-left:#4593FD solid 1px;}
.shopClass_active dt{ background:none;}
.shopClass_active a{ color:#000;}
.shopClass_active .aLink{ color:#FFF; text-decoration:none;}
/*弹出的菜单*/
.shopClass_list{ width:568px; border:#CCC solid 1px; position:absolute; left:190px; top:35px;}
.shopClass_cont{ padding:5px 20px;}
.shopList_item{ padding:10px 0; border-bottom:#CCC solid 1px;}/*dotted 虚线*/
.shopList_item dt{ color:#4B87D9; font-weight:bold; height:24px; line-height:24px;}
.shopList_item dd{ padding-left:68px; margin-top:-24px; line-height:24px;}
.shopList_item dd a{ margin-right:12px;}
.shopList_links{ padding-top:15px;}
.shopList_links a{ color:#FFF; background-color:#2785E6; height:26px; line-height:26px; font-size:12px; display:inline-block; padding:0 14px 0 8px; margin-right:10px;}
.shopList_links span{ width:11px; height:7px; background:url(../images/icon/shop_sj.png) left center no-repeat; display:inline-block; margin-left:7px;}

/*banner部分*/
.banner{ margin-bottom:15px;}
.banner_bar{ float:right; position:relative; overflow:hidden;}
.imgBox{ position:absolute; left:0px; top:0;}/*left:-810px显示另一张图片*/
.imgBox li{ float:left;}
.imgBox img{ display:block;}
.imgNum{ position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{ width:20px; height:5px; overflow:hidden; background-color:#FFF; display:inline-block; margin:0 3px;}
.imgNum .active{ background-color:#FF7700;}
.banner_big,
.banner_big img{ width:810px; height:326px;}
.banner_big .imgBox{ width:1620px; height:326px;}
.banner_sm,
.banner_sm img{ width:190px; height:400px;}
.banner_sm .imgBox{ width:380px; height:400px;}
/*商品标题*/
.shopTit{ height:44px; font-family:"Microsoft YaHei","微软雅黑"; line-height:44px; margin-bottom: 15px;}
.shopTit h3{ font-size:24px; float:left; font-weight:bold; padding-left:15px;}
.icon{ width:44px; height:44px; float:left; background:url(../images/icon/shopIcon.png) left center no-repeat;}
.more{ float:right; font-family: "宋体";}
.more:hover{ text-decoration:underline;}
/*商品列表*/
.shopList .leftArea{ width:190px;}
.shopList .rightArea{ width:810px;}
.shopList .leftArea .banner_bar{ width:190px; height:400px;}







